{{#operations}}

public class {{classname}}{{operationId}}Controller extends AbstractBaseController {

    public {{classname}}{{operationId}}Controller(String uri){
        super(uri);
    }

{{#operation}}
    protected override void handleConfigure{{httpMethod}}() {
{{#hasParams}}
    {{#queryParams}}
        Request.QueryParameters.add{{dataType}}Parameter('{{paramName}}'){{#unless required}}{{#unless isEnum}};{{/unless}}{{/unless}}
        {{#required}}.Mandatory(){{#unless isEnum}};{{/unless}}{{/required}}
        {{#isEnum}}.Restrict(new List<{{dataType}}>{});{{/isEnum}}
    {{/queryParams}}
{{/hasParams}}
    }
{{/operation}}

{{#operation}}
    protected override HttpResponse handle{{httpMethod}}() {
{{#hasParams}}
    {{#queryParams}}
        {{dataType}} {{paramName}} = ({{dataType}}) Request.QueryParameters.get('{{paramName}}').value();
    {{/queryParams}}
{{/hasParams}}
    }
{{/operation}}
}

{{/operations}}